.a2 {position: relative;
	width: 200px;
	height: 200px;
	background: violet;}

.a2:after {content: "";
		float: left;
		position: relative;
		top: 20px;
		left: 20px;
		width: 160px;
		height: 160px;
		background: orange;}

.a2 {animation-name: wobble;
	animation-duration: 3s;}

.a2:hover:after {animation-name: rubberBand;
	animation-duration: 2s;}
	

