.a1{
	margin: 50px;
	width: 150px;
	height: 150px;
	background: red;
	position: relative;
	animation: wobble;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.a1:after{
	width:120px;
	height: 120px;
	background: yellow;
	content: "";
	float: left;
	top: 15px;
	left: 15px;
	position: absolute;
}
.a1:hover:after{
	animation: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
