html, body {
    margin: 0;
    padding: 0;
}

.a3 {
    position: relative;
    animation: bounceInRight;
    animation-duration: 2s;
}
.a3:before {
    content: " ";
    width: 150px;
    height: 150px;
    background: green;
    display: block;
    position: absolute;

}
.a3:after {
    content: " ";
    width: 100px;
    height: 100px;
    background: red;
    margin-left: 5px;
    display: block;
    position: absolute;
    top: 25px;
    left: 15px;
}

.a3:hover:after {
    animation: zoomOutRight;
    animation-duration: 2s;
}

